/* css styles */

p {
  font-family: "Times New Roman";
}

h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

blockquote {
  border-left-color: #EFAF00;
}

blockquote > p{
  font-size: 20px;
  color: #818589;
}